{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <!-- Проверяем, является ли текущий пользователь автором объекта -->
  {% if object.author == request.user %}
    <!-- Если пользователь автор объекта, отображаем форму удаления -->
    <h1>Удалить запись {{ object.pk }}</h1>
    <div class="card col-4 m-3">
      <div class="card-header">
        {{ object.first_name }} {{ object.last_name }} - {{ object.birthday }}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="Удалить" %}
        </form>
      </div>
    </div>
  {% endif %}
{% endblock content %}